<div class="wrapper">
  <h1>Choose your Nasa fighter</h1>
  <nav class="nav nav-pills flex-column flex-sm-row">
    <a class="flex-sm-fill text-sm-center nav-link" routerLink="/apod-component" routerLinkActive="active"
      ariaCurrentWhenActive="page">APOD</a>
    <a class="flex-sm-fill text-sm-center nav-link" routerLink="/asteroids-component" routerLinkActive="active"
      ariaCurrentWhenActive="page">Asteroids</a>
    <a class="flex-sm-fill text-sm-center nav-link" routerLink="/earth-component" routerLinkActive="active"
      ariaCurrentWhenActive="page">Earth</a>
    <a class="flex-sm-fill text-sm-center nav-link" routerLink="/epic-component" routerLinkActive="active"
      ariaCurrentWhenActive="page">EPIC</a>
    <a class="flex-sm-fill text-sm-center nav-link" routerLink="/mars-component" routerLinkActive="active"
      ariaCurrentWhenActive="page">Mars</a>
  </nav>
</div>
<!-- The routed views render in the <router-outlet>-->
<router-outlet></router-outlet>